html, body, h1 {
    margin: 0;
    padding: 0;
} 

body {
    text-align: center;
    font-family: 'Pacifico', 'Segoe script', cursive;
    line-height: 1.5;
    width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    color: white;
    text-shadow: 0 0 1px black;
    background-image: url("images/torshov.jpg");
    background-size: cover;
    background-position: center;
}

.header-title {
    background: #457B9D;
    padding: 10px;
}

.header-description {
    width: 300px;
    background: #1D3557;
    padding: 10px;
}

.activities {
    background-color: #faedcd;
    padding: 50px 0;
}

.activities-cards {
    display: flex;
    justify-content: space-around;
}

.activity {
    width: 250px;
    padding: 10px;
}

.activity:hover{
    box-shadow: 0px 10px #ccd5ae;
}

.activity-img {
    width: 100px;
    border-radius: 50%;
}

.guide {
    padding: 50px 0;
    background-color: #ccd5ae;
}

.guide-card {
    display: flex;
    width: 400px;
    margin: 0 auto;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background-color: #faedcd;
    border-radius: 5px;
}

.guide-card:hover {
    box-shadow: 0px 0 0px 5px #d4a373;
}

.guide-photo {
    width: 150px;
    height: 200px;
    border-radius: 5px;
}

.guide-bio {
    width: 200px;
}
